[Unit]
Description=Timer for dots-ai dev companion worker
Requires=dots-ai-dev-companion-worker.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=dots-ai-dev-companion-worker.service
Persistent=true

[Install]
WantedBy=timers.target
